.ginput_container_table td {
    border: 1px black solid;
    margin: 0;
    padding: 10px;
}

.ginput_container_table th {
    border: 1px blue solid;
    margin: 0;
    padding: 10px;
}

.table_field {
    border-collapse: collapse;
}

.table_field .hover {
    background-color: #F5FF5D;
}

.table_field tbody th {
    min-width: 150px;
}

.table_field td {
    height: 60px;
}

.table_field td {
    padding: 0;
}

.table_field td > input {
    background-color: transparent;
    padding: 0 !important;
    height: 100%;
    border: none;
}